.editor {
    display: flex;
    overflow-y: auto;
    padding: 0px;
}

.linenumbers{
    width: 50px;
    font-family: Arial;
    font-size: 15px;
    padding: 0px;
    margin: 0px;
}

.singlelinenumber {
    padding: 0px;
    margin: 0px;
    height: calc(15px * 1.1)

}

textarea {
    width: 100%;
    resize: none;
    font-family: Arial;
    font-size: 15px;
    padding: 0px;
    margin: 0px;
    height: auto;
    line-height: 1.1em;
   /* max-height: 1000000px; */
}