.selector {
    width: 100%;
    background-color: var(--grey-01);
    text-transform: var(--title-text-transform);
    font-size: var(--font-size-large);
    color: var(--dark-blue);
    border: var(--element-border);
}

.selector {
    z-index: 98;
}

.selectoroptions {
    position: absolute;
    width: 50%;
}

.optionarticle {
    background-color: var(--main-bg-color);
}

.optionarticle:hover {
    background-color: red;
} 

.selectorbutton {
    display: flex;
    justify-content: space-between;
}

.selectorbutton p {
    padding: 0px;
    margin: 0px;
}