.lexenvwithtitle {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    background-color: white;
    padding: var(--leftside-padding);
    border: var(--element-border);
    border-radius: var(--corner-radius);
}


.lexenvwithtitle > * {
    min-height: 0px;
}

.lexenv {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 4px;
}



.lexenv > * {
    min-height: 0px;
}

.lexenvelement {
    display: grid;
    grid-template-columns: var(--lexenv-grid-template);
    gap: 5px;
    align-items: center;
}

.lexenvvariables {
    overflow-y: auto;
    border: var(--element-border);
    background-color: white;
    padding: 0px 0px 0px 4px;
}

.lexenvelement > * {
    min-width: 0px;
}
  
.lexenvaddnew {
    display: grid;
    grid-template-columns: var(--lexenv-grid-template);
    align-items: center;
    gap: 5px;
}

.lexencolnames {
    display: grid;
    grid-template-columns: var(--lexenv-grid-template);
    align-items: center;
    gap: 5px;
}

.lexenvaddnew > * {
    min-width: 0px;
}

.lexenvcolname {
    color: var(--grey-05);
}

.leftside__icon__plus {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    filter: invert(100%);
}

.leftside__icon__x {
    
    width: 1.1em;
    height: 1.1em;
    
    vertical-align: middle;
}

.button_icon {
    padding: 0px 0px 3px 0px;
    margin: 0px;
    background-color: var(--grey-01);
    border: none;
}

.button_icon:hover {
    background-color: red;
    color: white;
}