.lexenvwithtitle {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    background-color: var(--grey-01);
    padding: var(--leftside-padding);
    border: var(--element-border);
}

.lexenvwithtitle > * {
    min-height: 0px;
}

.lexenv {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 4px;
}

.lexenv > * {
    min-height: 0px;
}

.lexenvelement {
    display: grid;
    grid-template-columns: var(--lexenv-grid-template);
    gap: 5px;
    align-items: center;
}

.lexenvvariables {
    overflow-y: auto;
    border: var(--element-border);
    background-color: white;
    padding: 0px 0px 0px 4px;
}

.lexenvelement > * {
    min-width: 0px;
}
  
.lexenvaddnew {
    display: grid;
    grid-template-columns: var(--lexenv-grid-template);
    align-items: center;
    gap: 5px;
}

.lexencolnames {
    display: grid;
    grid-template-columns: var(--lexenv-grid-template);
    align-items: center;
    gap: 5px;
}

.lexenvaddnew > * {
    min-width: 0px;
}

.lexenvcolname {
    color: var(--grey-05);
}