.output {
    display: grid;
    grid-template-columns: var(--line-number-width) auto;
    grid-template-rows: auto;
    overflow-y: auto;
    background-color: var(--grey-01);
    border: var(--element-border);
    
}

.output > * {
    min-width: 0px;
}

.outputtext {
    width: auto;

}

.outputlinenumber {
    box-sizing: border-box;
    width: var(--line-number-width);   
    background-color: var(--grey-02);
    text-align: right;
    padding: var(--line-number-padding);
}