.navbar {
    grid-area: navbar;
    height: auto;
    background-color: var(--light-blue);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;

    padding: 10px 20px;
}


.navbuttons {
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
}

.navbuttons button:hover {
    color: var(--dark-blue-og);
    background-color: transparent;
}

.navbuttons button {
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    border: none;
}

.titleandsubtitle p {
    padding: 0px;
    margin: 0px;
}