.navbar {
    grid-area: navbar;
    height: auto;
    background-color: white;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;

    border-bottom: var(--element-border);
    color: black;

    padding: 0px 20px 0px calc(var(--leftside-padding) + 20px);
}

h1 {
    color: var(--grey-07);
    padding: 10px 0px 0px 0px;
}


.navbuttons {
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbuttons button:hover {
    height: 100%;
    color: var(--dark-blue-og);
    background-color: var(--light-blue);
    border-bottom: 4px solid var(--dark-blue-og);
}

.navbuttons button {
    border-radius: 0px;
    padding: 0px 30px;
    margin: 0px;
    background-color: transparent;
    border-bottom: 4px solid transparent;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
}

.titleandsubtitle p {
    padding: 0px 0px 10px 0px;;
    margin: 0px;
}