.callstack {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px 0px;

    background-color:coral;

    overflow-y: auto;
}

.callstackelement {
    width: auto;
    margin: 0px 10px;
    padding: 10px;
    text-align: center;
    background-color: red;
}