.callstackwithtitle {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    background-color: white;
    padding: var(--leftside-padding);
    border: var(--element-border);
    border-radius: var(--corner-radius);
}

.callstackwithtitle > * {
    min-height: 0px;
}

.callstack {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    gap: 10px;

    overflow-y: auto;
}

.callstackelement {
    width: auto;
    padding: 10px;
    text-align: center;
    background-color: var(--light-blue);
    border-radius: var(--corner-radius);
}