:root {
    --main-bg-color: brown;

    --light-blue: #ADD8E6;
    --middle-blue: #4682B4;
    --dark-blue-og: #3c3c96;
    --dark-blue: #696969; /* #000080 */
    --darker-blue: hsl(240, 100%, 12%);

    --light-red: #FFA07A;
    --middle-red: #CD5C5C;
    --dark-red: #DC143C;

    --grey-01: 	#F1F1F1;
    --grey-02: 	#D3D3D3;
    --grey-03: 	#C0C0C0;
    --grey-04: 	#A9A9A9;
    --grey-05: #808080;
    --grey-06: #696969;
    --grey-07: #3c3c3c;

    --yellow: #F0E68C;
    --orange: #FFA500;

    --font-size-title: 28px;
    --font-size-large: 22px;
    --font-size-normal: 18px;
    --font-size-small: 14px;

    --gap-between-global-grid: 15px;
    --leftside-padding: 10px;
    --rightside-gap: 5px;
    --h2-lower-padding: 10px;
    --element-border: 0.1px solid var(--grey-03);
    --lexenv-grid-template: 70px 70px auto 25px;

    --line-number-padding: 0px 10px 0px 0px;
    --line-number-padding-with-border: 0px 6px 0px 0px;
    --line-number-width: 70px;

    --title-text-transform: uppercase;
    font-family: Arial;

    --corner-radius: 10px;
    background-color: var(--grey-01);

}

body {
    font-size: var(--font-size-normal);
    margin: 0px;
}

input {
    font-size: var(--font-size-normal);
}

button {
    font-size: var(--font-size-normal);
}

h1 {
    font-size: var(--font-size-title);
    padding: 0px;
    margin: 0px;
    text-transform: var(--title-text-transform);
    color: var(--grey-07);
}

h2 {
    font-size: var(--font-size-large);
    padding: 0px 0px 0px 0px;
    margin: 0px;
    text-transform: var(--title-text-transform);
    color: var(--dark-blue);

}

.h2_sub {
    margin: 0px;
    padding: 0px 0px var(--h2-lower-padding) 0px;
    font-size: var(--font-size-small);
}

.App {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "navbar"
        "rest";
    
}

.App > * {
    min-height: 0px;
}

.AppGrid {
    box-sizing: border-box;
    height: auto;
    grid-area: rest;
    
    
    margin: 0px;
    padding: 10px 20px;

    display: grid;
    grid-template-columns: 400px auto;
    grid-template-rows: 1fr;
    grid-template-areas:
        "leftside rightside";

    gap: var(--gap-between-global-grid);
    
}

.AppGrid > * {
    min-height: 0px;
}

.leftside {
    grid-area: leftside;
    height: auto;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    
}

.leftside > * {
    min-height: 0px;
}

.rightside {
    grid-area: rightside;
    height: auto;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 3fr auto 1fr;

    gap: var(--rightside-gap);
    
}

.rightside > * {
    min-height: 0px;
}

.calltoaction {
    background-color: var(--dark-blue-og);
    color: white;
    border-radius: 0px;
    text-decoration: none;
    border: 1px solid transparent;
}

button {
    border-radius: 0px;
    border: 1px solid grey;
    background-color: var(--grey-01);
}

button:hover {
    background-color: var(--grey-02);
}

button:active {
    background-color: var(--grey-03);
}

img {
    pointer-events: none;
}

.calltoaction:hover {
    background-color: var(--darker-blue);
}

.calltoaction:active {
    background-color: black;
}